article {
	float: left;
	border-left: 1px solid lightgrey;
	@include transition(all 0.7s ease);

	&.full--width {
		width: calc(100% - 45px) !important;
	}

	header {
		padding: 10px 20px;
		border-bottom: 1px solid lightgrey;
		h2 {
			margin: 0;
			display: inline-block;
		}
	}

	.inner {
		padding 	: 20px;
	}

	.row {
		width: 100%;
		float: left;
	}

	.box {
		float: left;
		width: 50%;
		img {
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}

	i {
		float: right;
		margin-top: 10px;
	}

	img {
		max-width: 100%;
		margin-bottom: 20px;
	}

}