.item__content {
	@include pos(0 0 0 250px);
	@include transform(scale(0,0));
	@include transition(all, 0.7s, cubic-bezier(.95,.31,.12,.87));
	opacity: 0;

	&.active {
		@include transform(scale(1,1));
		@include transition(all, 0.7s, cubic-bezier(.95,.31,.12,.87));
		

		opacity: 1;
	}

	h2 {
		margin-top: 0;
		color: 333;
	}

}

.item__description {
	img {
		max-width: 100%;
	}
}