<!DOCTYPE html>
<html ng-app="portfolio">
<head>
	<meta charset=utf-8 />
	<title></title>
	<link rel="stylesheet" type="text/css" media="screen" href="content/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script type="text/javascript" src="dist/main.min.js"></script>
</head>
<body ng-class="{ 'tileOpen' : graphicdesign || typografi || workflow || billedbehandling }">
	
	<nav>
		<ul>
			<li 
				ng-class="{ 'active' : graphicdesign }" 
				ng-click="graphicdesign = true; typografi = false; billedbehandling = false; workflow = false;">
				<h2>
					Grafisk Design
					<i class="icon-droplet"></i>
				</h2>
			</li>
			<li 
				ng-class="{ 'active' : typografi }" 
				ng-click="typografi = true; billedbehandling = false; graphicdesign = false; workflow = false;">
				<h2>
					Typografi &amp; Ombrydning
					<i class="icon-pen"></i>
				</h2>
			</li>
			<li 
				ng-class="{ 'active' : billedbehandling }" 
				ng-click="billedbehandling = true; graphicdesign = false; typografi = false; workflow = false;">
				<h2>
					Grafik &amp; Billedbehandling
					<i class="icon-image2"></i>
				</h2>
			</li>
			<li 
				ng-class="{ 'active' : workflow }" 
				ng-click="workflow = true; graphicdesign = false; typografi = false; billedbehandling = false;">
				<h2>
					Grafisk Workflow
					<i class="icon-code"></i>
				</h2>
			</li>
		</ul>
	</nav>
	<main>
	<div ng-class="{ 'active' : typografi }" class="item__content">
		<aside class="one-third">
			<div class="item__description">
				<h2>Opgaven:</h2>
				<p>To fiktive opslag til et sportsmagasin.</p>
				<p>Handler om vigtigheden i en rigtig kost i forbindelse med træning.</p>
				<p>Opslaget skulle indholde relevante og blikfangede billeder. Derudover skulle der undgås at have et standard spalte layout - der skulle være en form for dynamik i opsætning.</p>

				<h2>IDÉ:</h2>
				<p>Jeg løste opgaven i InDesign. Jeg startede med opsætningen af selve dokumentet.</p>
				<p><strong>Format:</strong> <br />
					4 siders opslag <br />
					Størrelse: 200mm x 280mm <br />
					3mm til beskæring <br />
					Grid: 6 kolonner og 5 rækker<br /><br />

					Master: Pagina
				</p>
				<p>Paragraph styles</p>
				<img src="content/images/typo-screen--1.png" />
				<p>Baseline og grid</p>
				<img src="content/images/baseline-grid-info.png" />
				<img src="content/images/baseline-grid.png" />
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Typografi &amp; ombrydning</h2>
				<i ng-click="workflow = false" class="icon-close"></i>
			</header>
			<div class="inner">
				<p>Side 1-2</p>
				<img src="content/images/typo-1.png" />
				<p>Side 3-4</p>
				<img src="content/images/typo-2.png" />
				<p>Mock up</p>
				<img src="content/images/magazine-mockup.jpg" />
			</div>
		</article>
	</div>
	<div ng-class="{ 'active' : billedbehandling }" class="item__content">
		<aside class="one-third">
			<div class="item__description">
				<h2>Opgaven:</h2>
				<p>Fiktiv opgave</p>
				<p>Sammenkopiering af to billeder.</p>
				<p>Fritlægning af snowboarderen i billedet til venstre, og kopieret ham på det til højre.</p>
				
				<h2>Udførsel:</h2>
				<p><strong>Arbejdsmetoder:</strong> <br />
					Pentool <br />
					Selections <br />
					Lag <br />
					Paths <br />
					Brushes
				</p>
				<p>Jeg løste opgaven i Photoshop, hvor jeg anvendte pentool til fritlægningen. Efter jeg havde lavet den path jeg skulle bruge, så havde jeg den selection som ses nedenfor.</p>
				<img src="content/images/sammenkopiering-3.jpg" />
				<p>Herefter kunne fritlægningen placeres på det andet billede. Dette gjordes simpelt med Move tool</p>
				<p>Jeg tilføjede en skygge nederst i venstre hjørne på det nye billede, for at få et mere realistisk look. Dette gjorde jeg med Brush tool, med blandingsmetoden sat til "Overlay" og opaciteten sat til 15%, ligeledes feather værdien så skyggen ikke blev for "hård" i kanten.</p>
				<p>Dernæst har jeg tilføjet noget sne - igen for at få et realistisk look. Dette gjorde jeg med brush tool.</p>
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Grafik &amp; billedbehandling</h2>
				<i ng-click="workflow = false" class="icon-close"></i>
			</header>
			<div class="inner">
				<img src="content/images/sammenkopiering-1.jpg" />
				<p>Sammenkopiering</p>
				<img src="content/images/sammenkopiering.jpg" />
			</div>
		</article>
	</div>
	<div ng-class="{ 'active' : workflow }" class="item__content">
		<aside class="one-third">
			<div class="item__description">
				<h2>Opgaven:</h2>
				<p>PFA MitPFA</p>
				<p>Kunde: PFA Pension</p>
				<p>PFA MitPFA er PFA's svar på netbank. En webapplikation hvor PFA's kunder kan logge ind og tjekke deres pension og ordninger.</p>
				<p>Kundens ønske var at få en moderne webapplikation optimeret på alle kanter og leder. Applikationen skulle performe hurtigt og flydende på alle platforme og størrelser.</p>
				<p>Ufordringen her var at få sitet til at være responsivt i forhold til alle skærmstørrelser.</p>

				<h2>IDÉ:</h2>
				<p>Jeg løste opgaven med et mobile first approach; dvs. at jeg optimerede sidens layout til mobile-devices som det første. Derefter tog jeg fat i optimering til tablets som det næste led i rækken og derefter computer skærme.</p>
				
				<h2>Udførsel:</h2>
				<p>Jeg løste opgaven vha. CSS3 <a target="_blank" href="http://css-tricks.com/css-media-queries/">media-queries</a>. Derudover brugte jeg SCSS som preprocessor til CSS.</p>
				<p>Nedenstående er en række breakpoints som jeg har brugt for at løse opgaven.</p>
				<img src="content/images/wf-screen--2.png" />
				<p>Eksempel:</p>
				<img src="content/images/wf-screen--1.png" />
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Workflow</h2>
				<i ng-click="workflow = false" class="icon-close"></i>
			</header>
			<div class="inner">
				<p>Mobile</p>
				<img src="content/images/wf-mockup--1.png" />
				<p>Tablet</p>
				<img src="content/images/wf-mockup--2.png" />
				<p>Desktop</p>
				<img src="content/images/wf-mockup--3.png" />
			</div>
		</article>
	</div>
	<div ng-init="graphicdesign = true" ng-class="{ 'active' : graphicdesign }" class="item__content">
		<aside class="one-third">
			<div class="item__description">
				<h2>Opgaven:</h2>
				<p>Fiktiv opgave - Redesign af logo</p>
				<p>Kunde: Atomic IT</p>
				<p>Kundens profil: En virksomhed som producerer webapplikationer. Virksomheden vil gerne fremstå proffesionelle og enkel.</p>
				<p>Kundens ønske var at få et logo som utrykte professionalisme, modernisme på en minimalistisk måde.</p>
				<h2>IDÉ:</h2>
				<p>Kunden havde understreget at de tre ovenstående begreber skulle indgå i logoet på en eller anden måde (professionalisme, modernisme og minimalisme), så det var der jeg startede.
				Den trekantede form symboliserer de tre begreber kunden ønskede. De strømlinede linjer mellem "A'et" og trekanten understreger igen kundens ønske om professionalisme og enkelthed.
				"A'et" i Atomic IT er blevet en del af logoet, og fungerer som en del af genkendeligheden.</p>
				<h2>Udførsel:</h2>
				<p>Dette logoet er fremstillet vha. programmerne Illustrator og Photoshop</p>
				<p>Logoet er designet ud fra "A'et" form. Trekanten omkring følger "A'ets" linjer. Dette er opnået vha. pentool og pathfinder. (Billedet nedenfor viser styrepunkterne anvendt i logoet)</p>
				<img src="content/images/gd-screen--3.png" />
				<p>"A'ets" form er opnået med pathfinder i Illustrator, hvor trekanten omkring er brugt i mindre størrelse for at fjerne "A'ets" ene side. (Se billedet nedenfor)</p>
				<img src="content/images/gd-screen--4.png" />
				<p><b>Farver</b></p>
				<img src="content/images/gd-screen--2.png" />
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Grafisk design</h2>
				<i ng-click="graphicdesign = false" class="icon-close"></i>
			</header>
			<div class="inner">
				<div class="box">
					<p>Logo standard</p>
					<img src="content/images/logo.svg" />
				</div>
				<div class="box">
					<p>Logo gråtoner</p>
					<img src="content/images/logo--greyscale.svg" />
				</div>
				<div class="box">
					<p>Logo sort</p>
					<img src="content/images/logo--black.svg" />
				</div>
				<div class="row">
					<div class="box">
						<p>Logo uden navn</p>
						<img src="content/images/logo--notext.svg" />
					</div>
					<div class="box">
						<p>&nbsp;</p>
						<img style="max-width: 200px;" src="content/images/logo--notext.svg" />
					</div>
					<div class="box">
						<p>&nbsp;</p>
						<img style="max-width: 100px;" src="content/images/logo--notext.svg" />
					</div>
					<div class="box">
						<p>&nbsp;</p>
						<img style="max-width: 50px;" src="content/images/logo--notext.svg" />
					</div>
				</div>
				<div class="cf"></div>
				<p>Mock-ups</p>
				<img src="content/images/iphone-mockups.jpg" />
				<img src="content/images/businesscard-mockups.png" />
			</div>
		</article>
		</div>
	</main>
</body>
</html>