<!DOCTYPE html>
<html ng-app="portfolio">
<head>
	<meta charset=utf-8 />
	<title></title>
	<link rel="stylesheet" type="text/css" media="screen" href="content/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script type="text/javascript" src="dist/main.min.js"></script>
</head>
<body ng-class="{ 'tileOpen' : graphicdesign || typografi || workflow || billedbehandling }">
	
	<nav>
		<ul>
			<li 
				ng-class="{ 'active' : graphicdesign }" 
				ng-click="graphicdesign = true; typografi = false; billedbehandling = false; workflow = false;">
				<h2>
					Grafisk Design
					<i class="icon-droplet"></i>
				</h2>
			</li>
			<li 
				ng-class="{ 'active' : typografi }" 
				ng-click="typografi = true; billedbehandling = false; graphicdesign = false; workflow = false;">
				<h2>
					Typografi &amp; Ombrydning
					<i class="icon-pen"></i>
				</h2>
			</li>
			<li 
				ng-class="{ 'active' : billedbehandling }" 
				ng-click="billedbehandling = true; graphicdesign = false; typografi = false; workflow = false;">
				<h2>
					Grafik &amp; Billedbehandling
					<i class="icon-image2"></i>
				</h2>
			</li>
			<li 
				ng-class="{ 'active' : workflow }" 
				ng-click="workflow = true; graphicdesign = false; typografi = false; billedbehandling = false;">
				<h2>
					Grafisk Workflow
					<i class="icon-code"></i>
				</h2>
			</li>
		</ul>
	</nav>
	<main>
	<div ng-class="{ 'active' : typografi }" class="item__content">
		<aside ng-class="{ 'closed' : typoinfo }" class="one-third">
			<i ng-click="typoinfo = !typoinfo" class="icon-close"></i>
			<div class="item__description">
				<h2>Opgaven:</h2>
				<p>To fiktive opslag til et sportsmagasin.</p>
				<p>Handler om vigtigheden i en rigtig kost i forbindelse med træning.</p>
				<p>Opslaget skulle indholde relevante og blikfangende billeder. Derudover skulle der undgås at have et standard spalte layout - der skulle være en form for dynamik i opsætning.</p>

				<h2>IDÉ:</h2>
				<p>Jeg løste opgaven i InDesign. Jeg startede med opsætningen af selve dokumentet.</p>
				<p><strong>Format:</strong> <br />
					4 siders opslag <br />
					Størrelse: 200mm x 280mm <br />
					3mm til beskæring <br />
					Grid: 6 kolonner og 5 rækker
				</p>
				<p><strong>Paragraph styles</strong></p>
				<img src="content/images/typo-screen--1.png" />
				<p><strong>Baseline og grid</strong></p>
				<img src="content/images/baseline-grid-info.png" />
				<img src="content/images/baseline-grid.png" />
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Typografi &amp; ombrydning</h2>
			</header>
			<div class="inner">
				<p>Side 1-2</p>
				<img src="content/images/typo-1.png" />
				<p>Side 3-4</p>
				<img src="content/images/typo-2.png" />
				<p>Mock up</p>
				<img src="content/images/magazine-mockup.jpg" />
			</div>
		</article>
	</div>
	<div ng-class="{ 'active' : billedbehandling }" class="item__content">
		<aside ng-class="{ 'closed' : bbinfo }" class="one-third">
			<i ng-click="bbinfo = !bbinfo" class="icon-close"></i>	
			<div class="item__description">
				<h2>Opgaven:</h2>
				<p>Fiktiv opgave</p>
				<p>Sammenkopiering af to billeder.</p>
				<p>Fritlægning af snowboarderen i billedet til venstre, og kopieret ham på det til højre.</p>
				
				<h2>Udførsel:</h2>
				<p><strong>Arbejdsmetoder:</strong> <br />
					Pentool <br />
					Selections <br />
					Lag <br />
					Paths <br />
					Brushes
				</p>
				<p>Jeg løste opgaven i Photoshop, hvor jeg anvendte pentool til fritlægningen. Efter jeg havde lavet den path jeg skulle bruge, så havde jeg den selection som ses nedenfor.</p>
				<img src="content/images/sammenkopiering-3.jpg" />
				<p>Herefter kunne fritlægningen placeres på det andet billede. Dette gjordes simpelt med Move tool</p>
				<p>Jeg tilføjede en skygge nederst i venstre hjørne på det nye billede, for at få et mere realistisk look. Dette gjorde jeg med Brush tool, med blandingsmetoden sat til "Overlay" og opaciteten sat til 15%, ligeledes feather værdien så skyggen ikke blev for "hård" i kanten.</p>
				<p>Dernæst har jeg tilføjet noget sne - igen for at få et realistisk look. Dette gjorde jeg med brush tool.</p>
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Grafik &amp; billedbehandling</h2>
			</header>
			<div class="inner">
				<img src="content/images/sammenkopiering-1.jpg" />
				<p>Sammenkopiering</p>
				<img src="content/images/sammenkopiering.jpg" />
			</div>
		</article>
	</div>
	<div ng-class="{ 'active' : workflow }" class="item__content">
		<aside ng-class="{ 'closed' : workflowinfo }" class="one-third">
			<i ng-click="workflowinfo = !workflowinfo" class="icon-close"></i>
			<div class="item__description">
				<h2>Opgaven:</h2>
				<p>PFA MitPFA</p>
				<p>Kunde: PFA Pension</p>
				<p>PFA MitPFA er PFA's svar på netbank. En webapplikation hvor PFA's kunder kan logge ind og tjekke deres pension og ordninger.</p>
				<p>Kundens ønske var at få en moderne webapplikation optimeret på alle kanter og leder. Applikationen skulle performe hurtigt og flydende på alle platforme og størrelser.</p>
				<p>Ufordringen her var at få sitet til at være responsivt i forhold til alle skærmstørrelser.</p>

				<h2>IDÉ:</h2>
				<p>Jeg løste opgaven med et mobile first approach; dvs. at jeg optimerede sidens layout til mobile-devices som det første. Derefter tog jeg fat i optimering til tablets som det næste led i rækken og derefter computer skærme.</p>
				
				<h2>Udførsel:</h2>
				<p>Jeg løste opgaven vha. CSS3 <a target="_blank" href="http://css-tricks.com/css-media-queries/">media-queries</a>. Derudover brugte jeg SCSS som preprocessor til CSS.</p>
				<p>Nedenstående er en række breakpoints som jeg har brugt for at løse opgaven.</p>
				<img src="content/images/wf-screen--2.png" />
				<p>Eksempel:</p>
				<img src="content/images/wf-screen--1.png" />
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Workflow</h2>
			</header>
			<div class="inner">
				<p>Mobile</p>
				<img src="content/images/wf-mockup--1.png" />
				<p>Tablet</p>
				<img src="content/images/wf-mockup--2.png" />
				<p>Desktop</p>
				<img src="content/images/wf-mockup--3.png" />
			</div>
		</article>
	</div>
	<div ng-init="graphicdesign = true" ng-class="{ 'active' : graphicdesign }" class="item__content">
		<aside ng-class="{ 'closed' : graphicinfo }" class="one-third">
			<i ng-click="graphicinfo = !graphicinfo" class="icon-close"></i>
			<div class="item__description">	
				<h2>IDÉ:</h2>
				<p><strong>Kunde:</strong> Atomic IT (Fiktiv opgave)</p>
				<p><strong>Kundens profil:</strong> En virksomhed som producerer webapplikationer og apps. Virksomheden vil gerne fremstå proffesionel og enkel.</p>
				<p>Kundens ønske var at få et website som utrykte professionalisme, modernisme på en minimalistisk måde.</p>
				<p>Kunden havde understreget at de tre ovenstående begreber skulle indgå i websitet på en eller anden måde (professionalisme, modernisme og minimalisme), så det var der jeg startede.</p>
				<h2>Udførsel:</h2>
				<p><strong>Programmer:</strong> Photoshop og Illustrator</p>
				<p>Jeg startede med at finde inspiration til opgaven. Jeg ledte efter websites der havde et "app-lignende" design, da det passede på kundens profil. Til højre er nogle billeder af forskellige websites jeg fundet inspiration fra.</p>
				<p>Efterfølgende begyndte jeg at sætte designet op i Photoshop (wireframes mm). Jeg har anvendt et 12 kolonners grid til at styre sitets layout.</p>
				<p>Layoutet er bygget op med dette grid, for at gøre det lettere at skalere siden ifht. alle skærmstørrelser.</p>
			</div>
		</aside>
		<article class="two-thirds">
			<header>
				<h2>Grafisk design</h2>
			</header>
			<div class="inner">
				<p><strong>Designet</strong></p>
				<img src="content/images/gd-screen-website.jpg" />
				<p><strong>Inspiration</strong></p>
				<img src="content/images/gd-screen-inspiration.jpg" />
				<div class="row">
					<div class="box">
						<p><strong>Wireframe</strong></p>
						<img src="content/images/gd-screen-wireframe.png" />
					</div>
					<div class="box">
						<p><strong>Grid</strong></p>
						<img src="content/images/gd-screen-grid.jpg" />
					</div>
				</div>
				
				<p><strong>Font</strong></p>
				<img src="content/images/gd-screen-font.jpg" />
				<p><strong>Farver</strong></p>
				<img src="content/images/gd-screen-farver.jpg" />
			</div>	
		</article>
		</div>
	</main>
</body>
</html>